
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#editor-container {
    width: 100%;
    height: 700px;
    background-color: #1f1f1f;
    border: 1px solid #2b2b2b;
}

#editor-summary {
    text-align: right;
    color: #b6b6b6;
    height: 48px;
    padding-right: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    border: 1px solid #2b2b2b;
}

#editor-summary span {
    width: fit-content;
}

#code-editor {
    counter-reset: line;
    overflow-y: scroll;
    overflow: auto;
    height: 82%;
    border: 1px solid #2b2b2b;
    margin: 0;
    outline: 0 solid transparent;
    padding-top: 20px;
}

#code-editor div {
    counter-increment: line;
    color: #9cdcfe;
}

#code-editor div::before {
    content: counter(line) ". ";
    display: inline-block;
    width: 42px;
    text-align: right;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #2b2b2b;
    color: #617681;
}

#code-editor div span {
    display: inline-block;
}

#editor-files {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.editor-file {
    width: 125px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    gap: 10px;
    border: 1px solid #2b2b2b;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.editor-file img {
    width: 24px;
}