body {
    margin: 0;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

nav {
    background-color: #1f1f1f;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}

nav #logo {
    text-shadow: #FC0 1px 0 10px;
    cursor: pointer;
}

nav #time {
    text-shadow: rgb(0, 255, 0) 1px 0 10px;
    margin-left: auto;
}

#output-container {
    width: 50vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.output-frame {
    transform-origin: top left;
    width: 100%;
    height: 95vh;
    border-top: 1px solid #2b2b2b;
    background-color: #1f1f1f;
}

iframe.output-frame {
    border: none;
    border-top: 1px solid #2b2b2b;
}

#output {
    background-color: unset;
}

#output-summary {
    width: 100%;
    height: 8.5%;
    background-color: #1f1f1f;
    border: 1px solid #2b2b2b;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.output-frame:not(#output) {
    display: none;
}

#exam-summary {
    text-align: center;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

#exam-summary-title {
    text-shadow: rgb(0, 255, 0) 1px 0 10px;
}

#exam-summary-subtitle {
    text-shadow: rgb(13, 120, 208) 1px 0 10px;
}

#exam-summary-time {
    
}

.exam-summary-result {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 90%;
    min-height: 50px;
    border: 1px solid #2b2b2b;
    border-radius: 2px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: .3s;
    background-color: #232323;
}

.exam-summary-result:hover {
    transform: scale(1.02);
    background-color: #2b2b2b;
}

.exam-summary-result span.ok, .exam-summary-result span.error {
    margin-right: 2%;
    margin-left: 1%;
}

.exam-summary-result span {
    padding-top: 2%;
    padding-bottom: 2%;
}

.exam-summary-result span.error {
    color: red;
}

.exam-summary-result span.ok {
    color: green;
}

.exam-summary-result div {
    width: 100%;
}

#virtual-output {
    width: 1280px;
    height: 720px;
    display: none;
}

.button {
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
}

.button.button-run {
    background-color: #04AA6D;
    margin: 5px;
    margin-left: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-card {
    height: 97%;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
    margin-top: -1px;
    background-color: #1f1f1f;
    font-weight: bold;
    color: white;
}

.button-card:hover {
    background-color: #2b2b2b;
}

.button-card.button-run {
    margin-right: 0;
    background-color: #04AA6D;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.button-card > span::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background-color: #0078d4;
    transition: 0.5s;
}

.button-card.active > span::after {
    width: 120%;
    margin-left: -10%;
}

.button-card.active {
    box-shadow: 0px -1px 1px black;
}

.button-run:hover {
    background-color: #059862;
    cursor: pointer;
}

.button.button-red {
    background-color: #aa2e04;
}

.button.button-red:hover {
    background-color: #892301;
}

.button-run[disabled] {
    color: white;
    background-color: #5f6663;
}

.button-run[disabled]:hover {
    cursor: not-allowed;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #1f1f1f;
}

::-webkit-scrollbar-track {
    border: 1px solid #101214;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    background-color: #434343;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4f4f4f;
    cursor: default;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

@media only screen and (max-width: 1000px) {

    body {
        overflow-y: auto;
    }

    main {
        display: block;
    }

    #editor-container {
        width: 100vw;
        height: 45%;
    }

    #output-container {
        width: 100vw;
        height: 50%;
    }

    #output-summary {
        height: 40%;
    }

}