body {
    margin: 0;
}

main {
    display: flex;
}

#output-container {
    width: 100%;
    height: 82vh;
}

iframe#output {
    width: 99%;
    height: 100%;
    transform-origin: top left;
}

#editor-container {
    width: 100vw;
    height: 82vh;
}

.button {
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
}

.button-run {
    background-color: #04AA6D;
    margin: 5px;
    margin-left: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-run:hover {
    background-color: #059862;
    cursor: pointer;
}

.button-run[disabled] {
    color: white;
    background-color: #5f6663;
}

.button-run[disabled]:hover {
    cursor: not-allowed;
}